html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   padding: 0;
   margin: 0;
}

#main {
   background-color: #eeeeee;
   margin: 26px 14px;
   border-radius: 10px;
}

.container {
   display: flex;
   justify-content: center;
   text-align: center;
}

h1 {
   font-size: 46px;
   font-weight: 700;
}

p {
   font-size: 20px;
}

/* figure caption */
#img-div {
   background-color: white;
}

img {
   width: 100%;
   padding: 12px;
}

#img-Caption {
   text-align: center;
   font-size: 18px;
   width: 90%;
   display: block;
   margin-inline: auto;
   padding-bottom: 15px;
}
